# ignore all bin directories
# matches "bin" in any subfolder
bin/

# ignore all target directories
target/

# ignore all files ending with ~
*~ 

*.classpath
src/com/iotracks/iofabric/utils/configuration/.project
*.dll
*.cache
*.suo
*.pdb
obj/
